services:
  - type: web
    name: car-qr-service
    env: python
    region: frankfurt
    pythonVersion: "3.11.9"
    buildCommand: "poetry install"
    preDeployCommand: "poetry run alembic upgrade head"
    startCommand: "poetry run uvicorn src.car_qr_service.main:app --host 0.0.0.0 --port $PORT"
